doctype html
html
    head
        title ToDo List
        link(rel="stylesheet", href="/styles.css")
    body
        header
            h1 ToDo List
        main
            ul#todo-list
                li Add your first task!
        footer
            p &copy; 2023 ToDo App